* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.head{
    /* border: 2px solid black; */
  display: flex;
  justify-content:space-between;

}

body{
    background-color: white;

}

body a{
color: black;
}




.left-side a{
    text-decoration: none;
    font-size: 1.5rem ;
    margin-left: 1rem;
   
}


.right-side{
    /* border: 2px solid orange; */
    display: flex;
    justify-content:end;
    gap: 1rem;
    margin-right: 1rem;

    
}

.right-side a{
    text-decoration:none;
    font-size: 1.5rem;
   

}




img{
    /* border: 2px solid red; */
    width: 4%;
  
}